.weather {
  text-align: center;
}

.wheather-img {
  width: 80%;
}

.wheather-jumbo {
  text-align: center;
}

.jumbotron-main{
    height: 100%;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}