.weather {
  text-align: center;
}

.wheather-img {
  width: 80%;
}

.wheather-jumbo {
  text-align: center;
}

.jumbotron-main{
    height: 100%;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.button {
  margin-top: 5%;
  border: none;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 2rem;
  border-radius: 5px;
  color: aliceblue;
  background: linear-gradient(
    45deg,
    rgb(25, 0, 255) 35%,
    rgb(0, 217, 255) 100%
  );
}